<html>
<head>
  <title>Rock Paper Scissors</title>
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="assets/js/bootstrap.js"></script>

</head>
<body>

<center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Balanced_Rock.jpg/440px-Balanced_Rock.jpg" width="300"></center>

<center><h1>You played <%= @user_move %>!</h1></center>

<center><h2>The computer played <%= @computer_move %>!</h2></center>

<center><h2>You <%= @result %>!</h2></center>

</body>
</html>
