<html>
<head>
  <title>Rock Paper Scissors</title>
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="assets/js/bootstrap.js"></script>

</head>
<body>

<center><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSCZMSo7B5kMbo951QhFzs-ifkks1_rCvm6SpfO9JN-5NbEVks" width="300"></center>

<center><h1>You played <%= @user_move %>!</h1></center>

<center><h2>The computer played <%= @computer_move %>!</h2></center>

<center><h2>You <%= @result %>!</h2></center>

</body>
</html>
